@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
}

:root {
    --vermelho: rgb(189, 27, 27);
    --amarelo: rgb(217, 163, 56);
    --sombra: 0px 3px 5px rgba(0, 0, 0, 0.16);

    --title-font: 'Bungee Shade', cursive;
}

amarelo {
    color: var(--amarelo);
}

vermelho {
    color: var(--vermelho);
}

#cabecalho {
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: var(--sombra);
    padding-bottom: 20px;
}

#cabecalho h1 {
    padding-top: 15px;
    padding-left: 20px;
    text-align: left;
    color: var(--vermelho);
    font-size: 3em;
    font-family: var(--title-font);
}

#cabecalho > h1 > amarelo {
    font-family: var(--title-font);
}

li {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

ul a {
    margin: 7px;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}

ul a:hover {
    color: var(--vermelho);
}

main {
    padding: 10px 20px 10px 20px;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}

main > h1 {
    margin: 30px 0px 30px 0px;
    font-size: 2.5em;
}

#button {
    margin: 30px 0px 30px 0px;
    width: 150px;
    height: 40px;
    
    border-radius: 25px;
    background-color: var(--vermelho);
    color: white;
    
    font-size: 1.1em;
    font-weight: 500;
    
    box-shadow: var(--sombra);
}

#button:hover {
    background-color: var(--vermelho);
    border-color: black;
    color: var(--amarelo);
}

.text {
    font-size: 1.5em;
    margin: 30px 0px 30px 0px;
}
