@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
}

vermelho {
    color: var(--vermelho);
}

amarelo {
    color: var(--amarelo);
}

:root {
    --vermelho: #bd1b1b;
    --amarelo: #d9a338;
    --laranja: #c95727;
    --sombra: 0px 0px 7px rgba(0, 0, 0, 0.39);

    --title-font: 'Bungee Shade', cursive;
    --text-weight: 500;
    --text-size: 1.1em;
}

.divider {
    background-image: linear-gradient(to left, var(--amarelo), var(--vermelho), var(--amarelo));
    width: 100%;
    height: 2px;
    margin: 70px 0px 70px 0px;
}

#header-divider {
    background-image: linear-gradient(to left, var(--amarelo), var(--vermelho), var(--amarelo));
    width: 100%;
    height: 2px;
    margin: 0px 0px 90px 0px;
}

#image-1 {
    max-width: 270px;
}

.section {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
}

#cabecalho {
    padding: 0px 20px 10px 20px;
    background-color: white;
    box-shadow: var(--sombra);
    padding-bottom: 20px;
}

#cabecalho h1 {
    padding-left: 20px;
    text-align: left;
    color: var(--vermelho);
    font-size: 3em;
    font-family: var(--title-font);
}

#cabecalho > h1 > amarelo {
    font-family: var(--title-font);
}

li {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

ul a {
    padding: 7px;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}

ul #menu-1:hover {
    border-bottom: 6px solid;
    background: transparent;
    border-image: linear-gradient(to right, rgb(189, 27, 27), rgb(196, 60, 34)) 1;
    border-radius: 5px;
    color: var(--vermelho);
    transition-duration: 0.45s;
}

ul #menu-2:hover {
    border-bottom: 6px solid;
    background: transparent;
    border-image: linear-gradient(to right, rgb(199, 73, 37), rgb(200, 79, 38)) 1;
    border-radius: 5px;
    color: var(--vermelho);
    transition-duration: 0.45s;
}
ul #menu-3:hover {
    border-bottom: 6px solid;
    background: transparent;
    border-image: linear-gradient(to right, rgb(201, 87, 39), rgb(203, 139, 42)) 1;
    border-radius: 5px;
    color: var(--laranja);
    transition-duration: 0.45s;
}
ul #menu-4:hover {
    border-bottom: 6px solid;
    background: transparent;
    border-image: linear-gradient(to right, rgb(206,112, 45), rgb(209, 126, 48)) 1;
    border-radius: 5px;
    color: var(--amarelo);
    transition-duration: 0.45s;
}
ul #menu-5:hover {
    border-bottom: 6px solid;
    background: transparent;
    border-image: linear-gradient(to right, rgb(213, 142, 52), rgb(217, 162, 56)) 1;
    border-radius: 5px;
    color: var(--amarelo);
    transition-duration: 0.45s;
}

main > h1 {
    margin: 30px 0px 30px 0px;
    font-size: 2.5em;
}

#button {
    margin: 30px 0px 30px 0px;
    width: 150px;
    height: 40px;
    
    border-radius: 25px;
    background-color: var(--vermelho);
    color: white;
    
    font-size: 1.1em;
    font-weight: 500;
    
    box-shadow: var(--sombra);
}

#button:hover {
    background-color: var(--vermelho);
    border-color: black;
    color: var(--amarelo);
}

.text {
    text-align: center;
    font-weight: var(--text-weight);
    font-size: var(--text-font-size);
    margin: 0px 0px 90px 0px;
}

#image-2 {
    min-width: 100%;
    margin-bottom: 50px;
}

.frame {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to left, var(--amarelo), var(--vermelho));
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    align-items: center;
}

.frame p {
    padding: 0px 120px 0px 120px;
}

#frame {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to left, var(--vermelho), var(--amarelo));
    display: flex;
    flex-direction: row-reverse;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    align-items: center;
}

#frame p {
    padding: 0px 120px 0px 120px;
}

.image-3 {
    height: 300px;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cards h1 {
    font-family: var(--title-font);
}

.card {
    height: 450px;
    width: 450px;
    background-color: white;
    box-shadow: var(--sombra);
    border-top: 0.25em solid var(--vermelho);
    border-bottom: 0.25em solid var(--amarelo);
    text-align: center;
}

.card > p {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    padding: 50px;
}
